.App {
  /* text-align: center; */
}
.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fdfcfc;
}
.sidebar, .container{
  padding: 2rem;
  height: calc(100% - 4rem);
}
.sidebar{
  /* background-color: blue; */
  width: calc(20vw - 4rem);
  display: flex;
  flex-direction: column-reverse;
}
.container{
  width: calc(80vw - 4rem);
  background-color: brown;
}
.overview{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.box{
  width: calc(100% - 2rem);
  height: 6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.5rem 1rem;
}
.transaction-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 5px;
  background-color: #F84158;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}